/*!
 * Copyright 2020 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */

.Chat_chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-top: 1px solid var(--color_mine_shaft_light);
}

.Chat_messages {
  flex: 1 1 auto;
  overflow-y: auto;
  padding-top: 0.5rem;
}

.Chat_sender_messageWrapper {
  padding: 0.5rem 1.25rem;
  width: 100%;
  height: 25%;
}

.Chat_right_Wrapper{
  float: right;
}

.Chat_left_Wrapper{
  float: left;
}

.Chat_reciever_messageWrapper{
  padding: 0.5rem 1.25rem;
  width: 100%;
  height: 25%;
}

.Chat_senderName {
  display: inline;
  font-weight: 700;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.Chat_date {
  display: inline;
  margin-left: 0.5rem;
  font-size: 0.8rem;
  color: var(--color_silver_chalice);
}

.Chat_message {
  color: var(--color_alto);
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.Chat_messageWrapper.Chat_raiseHand .Chat_message {
  font-size: 2rem;
}

.Chat_chatInput {
  flex: 0 0 auto;
}

.Chat_attendee_list{
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 15%;
  max-height: 15%;
  min-height: 15%;
  overflow-x: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.Chat_attendee_list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.Chat_attendee_list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.Chat_initials{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: #FFFFFF;
  border-radius: 4px;
  color: black;
  margin: 2px;
  cursor: pointer;
}

.Chat_active_initials{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: #1a1919fc;
  border-radius: 4px;
  color: #FFFFFF;
  margin: 2px;
  cursor: pointer;
}