/*!
 * Copyright 2020 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */

.Controls_controls {
  display: block;
  position: relative;
}

.Controls_controls.Controls_screenShareMode {
  width: calc(var(--local_video_container_height) - 0.5rem);
  height: calc(var(--local_video_container_height) - 0.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.15s;
}

.Controls_controls.Controls_screenShareMode:hover {
  opacity: 1 !important;
}

.Controls_controls.Controls_screenShareMode.Controls_videoEnabled {
  opacity: 0;
}

.Controls_controls.Controls_screenShareMode.Controls_audioMuted {
  opacity: 1;
}

.Controls_micMuted {
  display: none;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color_black_medium_opacity);
  text-align: center;
  justify-content: center;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 1rem;
}

.Controls_controls.Controls_screenShareMode.Controls_audioMuted.Controls_videoEnabled .Controls_micMuted {
  display: flex;
}

.Controls_controls.Controls_screenShareMode.Controls_Controls_audioMuted.Controls_videoEnabled .Controls_muteButton {
  background-color: var(--color_thunderbird);
}

.Controls_controls button {
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  border: none;
  border-radius: 50%;
  font-size: 1.25rem;
  color: var(--color_alabaster);
  background: var(--color_tundora);
  cursor: pointer;
  transition: opacity 0.15s;
  outline: none;
  z-index: 1;
}

.Controls_controls button.Controls_enabled {
  color: var(--color_tundora);
  background: var(--color_alabaster);
}

.Controls_controls button:hover {
  opacity: 0.8;
}

.Controls_controls.Controls_roomMode button + button {
  margin-left: 1rem;
}

.Controls_controls.Controls_screenShareMode button + button {
  margin-left: 0.5rem;
}

.Controls_endButton {
  background: var(--color_thunderbird) !important;
}

.Controls_recordRedButton{
  color: rgb(255 106 106) !important;
}