/*!
 * Copyright 2020 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */

.LocalVideo_localVideo {
  display: block;
  width: 100%;
  height: 100%;
  background: var(--color_black);
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
}

.LocalVideo_localVideo.disabled {
  display: none !important;
}

.LocalVideo_video {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  object-fit: cover;
}
