/*!
 * Copyright 2020 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */

 .RemoteVideoGroup_remoteVideoGroup {
  display: flex;
  position: relative;
  height: 100%;
  grid-gap: 0.25rem;
  width: 100%;
}

.RemoteVideoGroup_remoteVideoGroup.disabled{
  display: none !important;
}

.RemoteVideoGroup_attendeeTileView{
  position: relative;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.RemoteVideoGroup_attendeeTileView.disabled{
  display: none !important;
}


/* Child elements */

.RemoteVideoGroup_instruction {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--color_silver_chalice);
}


.RemoteVideoGroup_attendeeRosterView{
  display: flex;
  background-color: var(--secondary_blue_color);
  color: var(--pure_white_color);
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.RemoteVideoGroup_attendeeRosterView.activeSpeaker{
  border: 1px solid var(--color_green);
}

.activeSpeakerView{
  position: absolute !important;
  display: block;
}

.notActiveSpeakerView{
  display: none;
}

.defaultRosterSize{
  width: 100%;
  height: 100%;
}