/*!
 * Copyright 2020 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */

 .RemoteVideoGroup_remoteVideoGroup {
  display: flex;
  position: relative;
  height: 100%;
  grid-gap: 0.25rem;
  width: 100%;
}

.RemoteVideoGroup_remoteVideoGroup.disabled{
  display: none !important;
}

.RemoteVideoGroup_attendeeTileView{
  position: relative;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.RemoteVideoGroup_attendeeTileView.disabled{
  display: none !important;
}

.RemoteVideoGroup_remoteVideoGroup.roomMode {
  padding: 0.25rem 0.25rem 0;
}

.RemoteVideoGroup_remoteVideoGroup.roomMode.isContentShareEnabled {
  height: var(--local_video_container_height);
}

.RemoteVideoGroup_remoteVideoGroup.screenShareMode {
  padding: 0 0.25rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

/* Room mode */

.RemoteVideoGroup_remoteVideoGroup.roomMode.RemoteVideoGroup_remoteVideoGroup-1 {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.RemoteVideoGroup_remoteVideoGroup.roomMode.RemoteVideoGroup_remoteVideoGroup-2,
.RemoteVideoGroup_remoteVideoGroup.roomMode.RemoteVideoGroup_remoteVideoGroup-3,
.RemoteVideoGroup_remoteVideoGroup.roomMode.RemoteVideoGroup_remoteVideoGroup-4 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.RemoteVideoGroup_remoteVideoGroup.roomMode.RemoteVideoGroup_remoteVideoGroup-5,
.RemoteVideoGroup_remoteVideoGroup.roomMode.RemoteVideoGroup_remoteVideoGroup-6 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.RemoteVideoGroup_remoteVideoGroup.roomMode.RemoteVideoGroup_remoteVideoGroup-7,
.RemoteVideoGroup_remoteVideoGroup.roomMode.RemoteVideoGroup_remoteVideoGroup-8,
.RemoteVideoGroup_remoteVideoGroup.roomMode.RemoteVideoGroup_remoteVideoGroup-9 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.RemoteVideoGroup_remoteVideoGroup.roomMode.RemoteVideoGroup_remoteVideoGroup-10,
.RemoteVideoGroup_remoteVideoGroup.roomMode.RemoteVideoGroup_remoteVideoGroup-11,
.RemoteVideoGroup_remoteVideoGroup.roomMode.RemoteVideoGroup_remoteVideoGroup-12 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.RemoteVideoGroup_remoteVideoGroup.roomMode.RemoteVideoGroup_remoteVideoGroup-13,
.RemoteVideoGroup_remoteVideoGroup.roomMode.RemoteVideoGroup_remoteVideoGroup-14,
.RemoteVideoGroup_remoteVideoGroup.roomMode.RemoteVideoGroup_remoteVideoGroup-15,
.RemoteVideoGroup_remoteVideoGroup.roomMode.RemoteVideoGroup_remoteVideoGroup-16 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

/* Content share in room mode */

.RemoteVideoGroup_remoteVideoGroup.roomMode.isContentShareEnabled.RemoteVideoGroup_remoteVideoGroup-0 {
  display: none;
}

.RemoteVideoGroup_remoteVideoGroup.roomMode.isContentShareEnabled.RemoteVideoGroup_remoteVideoGroup-1,
.RemoteVideoGroup_remoteVideoGroup.roomMode.isContentShareEnabled.RemoteVideoGroup_remoteVideoGroup-2,
.RemoteVideoGroup_remoteVideoGroup.roomMode.isContentShareEnabled.RemoteVideoGroup_remoteVideoGroup-3,
.RemoteVideoGroup_remoteVideoGroup.roomMode.isContentShareEnabled.RemoteVideoGroup_remoteVideoGroup-4 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.RemoteVideoGroup_remoteVideoGroup.roomMode.isContentShareEnabled.RemoteVideoGroup_remoteVideoGroup-5,
.RemoteVideoGroup_remoteVideoGroup.roomMode.isContentShareEnabled.RemoteVideoGroup_remoteVideoGroup-6,
.RemoteVideoGroup_remoteVideoGroup.roomMode.isContentShareEnabled.RemoteVideoGroup_remoteVideoGroup-7,
.RemoteVideoGroup_remoteVideoGroup.roomMode.isContentShareEnabled.RemoteVideoGroup_remoteVideoGroup-8,
.RemoteVideoGroup_remoteVideoGroup.roomMode.isContentShareEnabled.RemoteVideoGroup_remoteVideoGroup-9,
.RemoteVideoGroup_remoteVideoGroup.roomMode.isContentShareEnabled.RemoteVideoGroup_remoteVideoGroup-10,
.RemoteVideoGroup_remoteVideoGroup.roomMode.isContentShareEnabled.RemoteVideoGroup_remoteVideoGroup-11,
.RemoteVideoGroup_remoteVideoGroup.roomMode.isContentShareEnabled.RemoteVideoGroup_remoteVideoGroup-12,
.RemoteVideoGroup_remoteVideoGroup.roomMode.isContentShareEnabled.RemoteVideoGroup_remoteVideoGroup-13,
.RemoteVideoGroup_remoteVideoGroup.roomMode.isContentShareEnabled.RemoteVideoGroup_remoteVideoGroup-14,
.RemoteVideoGroup_remoteVideoGroup.roomMode.isContentShareEnabled.RemoteVideoGroup_remoteVideoGroup-15,
.RemoteVideoGroup_remoteVideoGroup.roomMode.isContentShareEnabled.RemoteVideoGroup_remoteVideoGroup-16 {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

/* Screen share mode */

.RemoteVideoGroup_remoteVideoGroup.screenShareMode.RemoteVideoGroup_remoteVideoGroup-1,
.RemoteVideoGroup_remoteVideoGroup.screenShareMode.RemoteVideoGroup_remoteVideoGroup-2,
.RemoteVideoGroup_remoteVideoGroup.screenShareMode.RemoteVideoGroup_remoteVideoGroup-3,
.RemoteVideoGroup_remoteVideoGroup.screenShareMode.RemoteVideoGroup_remoteVideoGroup-4 {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

/* Child elements */

.RemoteVideoGroup_instruction {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--color_silver_chalice);
}

.remoteVideoGroup.screenShareMode .instruction {
  font-size: 1rem;
}

.RemoteVideoGroup_attendeeRosterView{
  display: flex;
  background-color: var(--secondary_blue_color);
  color: var(--pure_white_color);
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
}

.activeSpeakerView{
  position: absolute !important;
  display: block;
}

.notActiveSpeakerView{
  display: none;
}

.defaultRosterSize{
  width: 100%;
  height: 100%;
}