/*!
 * Copyright 2020 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */

.RosterLayout_remoteVideo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: var(--secondary_blue_color);
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    color: var(--pure_white_color);
  }
  
.RosterLayout_remoteVideo.activeSpeakerViewMode{
  width: 150px;
  height: 150px;
}

  .RosterLayout_remoteVideo.activeSpeaker {
    border: 3px solid var(--color_green);
  }

  .RosterLayout_initials{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--pure_white_color);
    color: var(--secondary_blue_color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: 3rem;
  }

  .RosterLayout_initials1{
    animation: tweeder 1s infinite ease;
  }
  
  .RosterLayout_initials2{
    animation: tweeder1 1s infinite ease;
  }
  
  .RosterLayout_initials3{
    animation: tweeder2 1s infinite ease;
  }

  .RosterLayout_initials4{
    animation: tweeder3 1s infinite ease;
  }

  .RosterLayout_initials5{
    animation: tweeder4 1s infinite ease;
  }

  .RosterLayout_initials6{
    animation: tweeder5 1s infinite ease;
  }

  @keyframes tweeder{
    0%{ transform: scale(1.1) }
    15%{ transform: scale(1.115) }
    35%{ transform: scale(1.125)}
    70%{ transform: scale(1.130) }
    90%{ transform: scale(1.140) }
    100%{ transform: scale(1.150) }
  }

  @keyframes tweeder1{
    0%{ transform: scale(1.150) }
    15%{ transform: scale(1.160) }
    35%{ transform: scale(1.170)}
    70%{ transform: scale(1.180) }
    90%{ transform: scale(1.190) }
    100%{ transform: scale(1.2) }
  }

  @keyframes tweeder2{
    0%{ transform: scale(1.2) }
    15%{ transform: scale(1.215) }
    35%{ transform: scale(1.225)}
    70%{ transform: scale(1.230) }
    90%{ transform: scale(1.240) }
    100%{ transform: scale(1.250) }
  }

  @keyframes tweeder3{
    0%{ transform: scale(1.250) }
    15%{ transform: scale(1.260) }
    35%{ transform: scale(1.270)}
    70%{ transform: scale(1.280) }
    90%{ transform: scale(1.290) }
    100%{ transform: scale(1.3) }
  }

  @keyframes tweeder4{
    0%{ transform: scale(1.3) }
    15%{ transform: scale(1.315) }
    35%{ transform: scale(1.325)}
    70%{ transform: scale(1.330) }
    90%{ transform: scale(1.340) }
    100%{ transform: scale(1.350) }
  }

  @keyframes tweeder5{
    0%{ transform: scale(1.350) }
    15%{ transform: scale(1.360) }
    35%{ transform: scale(1.370)}
    70%{ transform: scale(1.380) }
    90%{ transform: scale(1.390) }
    100%{ transform: scale(1.4) }
  }