/*!
 * Copyright 2020 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */

.RosterLayout_remoteVideo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: transparent;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 0.25rem;
    color: var(--pure_white_color);
  }
  
  .RosterLayout_remoteVideo.activeSpeaker {
    border: 3px solid var(--color_green);
  }

  .RosterLayout_initials{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--pure_white_color);
    color: var(--secondary_blue_color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: 3rem;
  }