/*!
 * Copyright 2020 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */

.Mobile_ClassRoom_left {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: calc(100% - 120px);
  margin-top: 60px;
}

.Mobile_ClassRoom_contentVideoWrapper {
  position: absolute;
  top: 190px;
  display: none;
  flex: 1 1 auto;
  overflow-y: hidden;
  height: calc(100% - 255px);
  width: 100%;
}
.Mobile_ClassRoom_contentVideoWrapper.rightDrawerOpen {
  width: calc(100% - 301px) !important;
}

.Mobile_ClassRoom_contentVideoWrapper.isContentShareEnabled {
  display: block;
}

.Mobile_ClassRoom_contentVideoWrapper.screenShareFullView {
  height: calc(100% - 60px) !important;
  width: 100% !important;
  z-index: 1111 !important;
  top: 0px !important;
}
.Mobile_ClassRoom_contentVideoWrapper.screenShareFullView.rightDrawerOpen {
  width: calc(100% - 310px) !important;
}

.Mobile_ClassRoom_contentVideoWrapper.screenShareView {
  width: 15%;
  height: auto;
  position: absolute;
  z-index: 10000;
  left: 0;
  margin-left: 24px;
  margin-top: 24px;
  cursor: pointer;
}

.Mobile_ClassRoom_remoteVideoGroupWrapper {
  flex: 1 1 auto;
  overflow: hidden;
}

.Mobile_ClassRoom_classroom.ClassRoom_roomMode.isContentShareEnabled
  .Mobile_ClassRoom_remoteVideoGroupWrapper {
  flex: 0 0 auto;
}

nav {
  width: 100% !important;
  height: 100% !important;
}

.Mobile_ClassRoom_chat_parent_div {
  width: 100%;
  height: 100%;
}

.Mobile_ClassRoom_chat_parent_div_open {
  display: block;
}

.Mobile_ClassRoom_chat_parent_div_close {
  display: none;
}

.Mobile_ClassRoom_chat_open_one {
  position: relative;
  height: 100%;
}

.Mobile_ClassRoom_chat_open_both {
  position: relative;
  height: 50%;
}

.Mobile_ClassRoom_meeting_timer {
  position: absolute;
  height: 29px;
  left: 8px;
  top: 190px;
  background: rgba(0, 0, 0, 0.653482);
  border-radius: 4px;
  z-index: 10;
  padding: 5px 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.0942858px;
}

/*  MUI - CLASSES DESIGN OVERRIDE*/

.Mobile_Mui_classroom_parent_container {
  display: flex !important;
  width: 100% !important;
  height: 100% !important;
  align-items: center !important;
  justify-content: center !important;
}

.Mobile_Mui_classroom_child_container {
  display: flex !important;
  width: 100% !important;
  height: 100% !important;
}

.Mobile_Mui_classroom_drawer_container_div {
  width: 100% !important;
  height: 100% !important;
}

.Mobile_Mui_classroom_header_divider {
  margin: auto !important;
  border-color: rgb(77 76 76 / 80%) !important;
  border-bottom-width: thin !important;
}

.Mobile_Mui_classroom_control_appbar {
  height: 50px !important;
  width: calc(100% - 16px) !important;
}
